<h2>Output</h2>
<br/>
<% @class_list.each do |c| %>
  <h4><%= c.class.attribute("name") %></h4>
  <% c.methods.each do |m| %>
    ●　<%= m.attribute("name") %></br>
  <% end %>
  </br>
  </br>
<% end %>
